<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Form Vaccine</title>
    <link rel="stylesheet" type="text/css" href="../../template/css/bootstrap.css">
    <script src="../../template/js/jquery-3.6.0.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,400;1,500;1,600&display=swap"
          rel="stylesheet">
    <script rel="stylesheet" type="text/javascript" src="../../template/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="../../template/css/cssform.css">
</head>
<body>
<div class="container">
    <h2>ĐĂNG KÝ TIÊM CHỦNG</h2>
    <div class="row">
        <div class="main-content col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <form action="/vaccine/create" method="post" th:object="${user}">
                <div class="row">
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <label class="label">Họ và Tên:</label>
                        <span class="form-control-wrap"><input type="text" th:field="*{userName}" size="40"
                                                               class="form-control"/></span>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <label class="label">Chứng minh nhân dân</label>
                        <span class="form-control-wrap"><input type="number" th:field="*{CMND}" size="40"
                                                               class="form-control"/></span>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <label class="label">Mật khẩu</label>
                        <span class="form-control-wrap"><input type="password" th:field="*{password}" size="40"
                                                               class="form-control"/></span>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <label class="label">Nhập lại mật khẩu</label>
                        <span class="form-control-wrap"><input type="password" name="userPass2" size="40"
                                                               class="form-control"/></span>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <label class="label">Số điện thoại</label>
                        <span class="form-control-wrap"><input type="tel" th:field="*{phoneNumber}" size="40"
                                                               class="form-control"/></span>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <label class="label">Email</label>
                        <span class="form-control-wrap"><input type="text" th:field="*{email}" size="40"
                                                               class="form-control"/></span>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-12 address">
                        <div class="form-group col-md-2 col-sm-4 col-xs-12">
                            <label class="label">Địa chỉ</label>
                            <select disabled class="form-control" id="province" name="userProvince"
                                    onchange="changeFunc();">
                                <optgroup>
                                    <option value="" selected></option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="form-group col-md-5 col-sm-4 col-xs-12">
                            <label class="label"></label>
                            <select class="form-control form-select" id="district" th:field="*{district}"
                                    onchange="changeFuncDistrict();">
                                <optgroup>
                                    <option value="" selected>Quận huyện</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="form-group col-md-5 col-sm-4 col-xs-12">
                            <label class="label"></label>
                            <select class="form-control form-select" id="ward" th:field="*{commune}">
                                <optgroup>
                                    <option value="" selected>Phường xã</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group col-md-3 col-sm-4 col-xs-4">
                            <label class="label">Ngày sinh</label>
                            <select class="form-control dob form-select" id="day" style="width: 82px;"></select>
                        </div>
                        <div class="form-group col-md-3 col-sm-4 col-xs-4">
                            <label class="label"></label>
                            <select class="form-control dob form-select" id="month" style="width: 82px;"></select>
                        </div>
                        <div class="form-group col-md-3 col-sm-4 col-xs-4">
                            <label class="label"></label>
                            <select class="form-control dob form-select" id="year" th:field="*{age}"
                                    style="width: 82px;"></select>
                        </div>
                        <div class="form-group col-md-3 col-sm-4 col-xs-12">
                            <label class="label">Giới tính</label>
                            <select class="form-control form-select" th:field="*{gender}">
                                <option value="Nam">Nam</option>
                                <option value="Nữ">Nữ</option>
                                <option value="Khác">Khác</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <label class="label">Tình hình sức khỏe và Tiền sử bệnh án</label><br><br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                   value="Bệnh về tim mạch" th:field="*{healthyStatus}">
                            <label class="form-check-label" for="inlineCheckbox1">Bệnh về tim mạch</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Bệnh về hô hấp"
                                   th:field="*{healthyStatus}">
                            <label class="form-check-label" for="inlineCheckbox2">Bệnh về hô hấp</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3"
                                   value="Bệnh về thần kinh" th:field="*{healthyStatus}">
                            <label class="form-check-label" for="inlineCheckbox3">Bệnh về thần kinh</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox4"
                                   value="Tiểu đường hoặc ung thư" th:field="*{healthyStatus}">
                            <label class="form-check-label" for="inlineCheckbox3">Tiểu đường hoặc ung thư</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox5"
                                   value="Phụ nữ đang mang thai hoặc cho con bú" th:field="*{healthyStatus}">
                            <label class="form-check-label" for="inlineCheckbox3">Phụ nữ đang mang thai hoặc cho con
                                bú</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox6"
                                   value="Các bệnh lý về xương khớp" th:field="*{healthyStatus}">
                            <label class="form-check-label" for="inlineCheckbox3">Các bệnh lý về xương khớp</label>
                        </div>
                    </div>
                </div>
                <button class="btn btn-info" type="submit">ĐĂNG KÝ</button>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../template/js/form.js"></script>
</body>
</html>